<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Index Page</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">
    <div class="jumbotron">
        <h1>Welcome to the Wakanda Task Management System!</h1>
        <p>We proudly present you our latest version of Task Management Application. The latest feature allows
        an Administrator to assign tasks to various workers with multiple constraints such as Time limit, Day and more.
        Workers can sign up and use the log-in to view their daily tasks. Please do reach out to wakandanation@mail.com
            for further support. </p>

    </div>


</div>
</body>
</html>